/* main.css - Basic stylesheet for your website */
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #F9F7E7;
    color: #3E3315;
    font-family: 'Arial', sans-serif;
    font-size: 1.2em;
    margin: 0;
    padding: 20px;
}

#statusBox, #gdeltStatusBox {
    width: 300px;
    height: 200px;
    /* border: 3px solid #000; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; /* Distributes children evenly, with equal space around them */
    text-align: center;
    padding: 5px; /* Reducing padding might help fit content better */
    color: white;
    overflow: hidden; /* Ensures nothing spills out */
}

#statusBox img, #gdeltStatusBox img {
    width: 100px;
    height: 100px;
    margin-bottom: 5px; /* Reduced space between the image and text */
}

#statusBox .sync-title, #gdeltStatusBox .sync-title,
#statusBox .status-message, #gdeltStatusBox .status-message {
    font-size: 18px;
    font-weight: bold;
    color: inherit;
    margin: 0; /* Zero margin to ensure no extra space is taken */
    align-self: center; /* Center aligning self within the flex container */
}

.success {
    background-color: green;
}

.failure {
    background-color: red;
}

.error {
    background-color: orange;
}

#syncinfo, #gdeltSyncInfo {
    font-size: 0.75em;
}
