/* main.css - Basic stylesheet for your website */
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #F9F7E7;
    color: #3E3315;
    font-family: 'Arial', sans-serif;
    font-size: 1.2em;          /* Standard font size */
    margin: 0;
    padding: 20px;
}

#statusBox {
    width: 150px;
    height: 150px;
    border: 3px solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* Adjusts children spacing */
    text-align: center;
    /* background-color: #228f30; Default green, changes with status */
    color: white; /* Ensures text is white */
    padding: 10px 0; /* Adds padding to the top and bottom */
}

#statusBox .sync-title {
    font-size: 24px;
    font-weight: bold;
    flex-grow: 1; /* Allows the element to expand */
    display: flex;
    align-items: center;
    justify-content: center;
}

#statusBox img {
    width: 100px;
    height: 100px;
}

#statusBox .status-message {
    font-size: 24px;
    font-weight: bold;
    flex-grow: 1; /* Allows the element to expand */
    display: flex;
    align-items: center;
    justify-content: center;
}

.success {
    background-color: #228f30; /* Green background for success */
}

.failure {
    background-color: #882230; /* Red background for failure */
}

.error {
    background-color: #887733; /* Yellow for error */
}

#syncinfo {
    font-size: 0.75em; /* Sets the font size to 75% of the inherited size */
}
